:root {
  --color-primario: #cfe2ff; 
  --color-secundario: #f8f9fa; 
  --color-terciario: #aad2ba;
  --color-cuarto: #6b8f71;
  --color-texto-primario: #1d1e18; 
  --color-texto-secundario: #0d6efd;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sora', sans-serif;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: var(--color-primario);
    padding: 25px;
    position: fixed;
    width:100%;
    background-color: var(--color-primario);
    align-items:center;
    color: var(--color-texto-secundario);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    justify-self: stretch;
    gap: 30px;
}

a:link, a:visited{
    text-decoration: none;
    color: var(--color-texto-secundario);
}

nav a {
    text-decoration: none;
    padding: 4px 16px;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--color-secundario);
}

a  h3{
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}

#seccion-presentacion {
    margin-top: 75px;
    background-color: var(--color-primario);
}

h1 { 
    color: var(--color-texto-primario);
}

h2 {
    color: var(--color-texto-secundario);
}

.container-foto-presentacion {
    display: flex;
    gap: 100px;
    width: 50%;
    justify-content: flex-start;
}

.foto-de-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
}

.parrafo-y-redes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

p {
  margin-top: 0; 
  margin-bottom: 0; 
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.icon-link-redes {
    padding: 5px;
}

.stack-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.tecnologia {
    width:auto; 
    height:100px;
    transition: transform 0.3s ease-in-out; 
}

.tecnologia:hover {
    transform: scale(1.2);
}

#seccion-proyectos {
    background-color: var(--color-secundario);
    gap: 75px;
}

.proyecto {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 50%;
    font-family: 'Space Mono', sans-serif;
    border-color: var(--color-primario);
}


.img-proyecto {
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: center;
    flex: 0 0 400px;
    border-radius: 10px;
      filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.1));
  
}

.parrafo-y-link-proyecto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    gap: 30px;
}

.parrafo-y-link-proyecto h5{
    margin: 0;
}

#seccion-contacto {
    background-color: var(--color-primario);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

.boton-submit {
    width: 80px;
}

h1,
h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: var(--color-primario);
    padding: 30px;
}

@media (max-width: 1200px) {

    header{
        position: static;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 30px;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }

    a header {
        border-color:  var(--color-secundario);
        border: 1px solid;
        border-radius: 10px;
    }

    section {
        padding: 50px;
    }

    #seccion-presentacion {
        margin-top: 0px;
    }
    .container-foto-presentacion {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .parrafo-y-redes {
        align-items: center;
    }

    .stack-container {
        width: 300px;
    }

    .proyecto {
        flex-direction: column;
        width: 300px;
        /*text-align: center;      Centra el texto al estar vertical */
    }

    .img-proyecto {
        width: 100%;
        height: auto;
        object-fit: none;
        flex: 0 0 auto;
    }



    form {
        width: 400px;
    }
}

@media (max-width: 450px) {
    form {
        width: 300px;
    }

    
}