* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

nav {
    display: flex;
    justify-content: center;
    justify-self: stretch;
    gap: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.container-foto-presentacion {
    display: flex;
    gap: 100px;
    width: 50%;
    justify-content: flex-start;
}

.parrafo-y-redes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

p {
  margin-top: 0; 
  margin-bottom: 0; 
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.icon-link-redes {
    padding: 5px;
}

.stack-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 50%;
}


.img-proyecto {
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
    flex: 0 0 400px;
  
}

.parrafo-y-link-proyecto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

.boton-submit {
    width: 80px;
}

h1,
h2 {
    text-align: center;
}

footer {
    text-align: center;
}

@media (max-width: 1200px) {

    .container-foto-presentacion {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .parrafo-y-redes {
        align-items: center;
    }

    .stack-container {
        width: 300px;
    }

    .proyecto {
        flex-direction: column;
        width: 300px;
        /*text-align: center;      Centra el texto al estar vertical */
    }

    .img-proyecto {
        width: 100%;
        height: auto;
        object-fit: none;
        flex: 0 0 auto;
    }



    form {
        width: 400px;
    }
}

@media (max-width: 450px) {
    form {
        width: 300px;
    }
}


/*
TODO ESTO ES CODIGO VIEJO

* { 
    box-sizing: border-box; 
}

* { 
    padding: 0;
    margin: 0; 
}

body {

}

header {
    position:fixed;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color:burlywood;
    z-index: 1;
}

header p {
    position: relative;
    padding: 15px;
}

.presentacion {
    position:relative;
    padding: 0;
    margin: 0;
    top: 50px;
}

.foto-de-perfil {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.proyectos img{
    height: 250px;
    width: 250px;
}

.presentacion p {
    display: inline-block;
}

*/