* {
  box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

nav {
    display:flex;
    justify-content: center;
    justify-self: stretch;
    gap: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.container-foto-presentacion{
    display:flex;
    gap: 100px;
}

.parrafo-y-redes {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.redes-sociales {
    display: flex;
    gap: 5px;
}

.proyecto {
    display:flex;
    gap:50px;
    border-style: dashed;
    border-radius: 10px;
    border-color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 500px;       /* Ocupa todo el ancho disponible */
    height: 300px;     /* Altura fija inicial */
    resize: none;
}

h1,h2 {
    text-align: center;
}

/*
TODO ESTO ES CODIGO VIEJO

* { 
    box-sizing: border-box; 
}

* { 
    padding: 0;
    margin: 0; 
}

body {

}

header {
    position:fixed;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color:burlywood;
    z-index: 1;
}

header p {
    position: relative;
    padding: 15px;
}

.presentacion {
    position:relative;
    padding: 0;
    margin: 0;
    top: 50px;
}

.foto-de-perfil {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.proyectos img{
    height: 250px;
    width: 250px;
}

.presentacion p {
    display: inline-block;
}

*/